# TODO: Replace with the 1.x official release once it's out
openai --pre

python-dotenv ~= 1.0
requests ~= 2.31
streamlit ~= 1.27

# Linters and formatters (use the latest versions)
pylint
black
prospector
